{% extends "base.html" %}
{% block title %}О магазине{% endblock %}
{% block left %}<p class="lead">О нашем магазине</p>{% endblock %}
{% block content %}
                <p>Наш магазин существует с 2017 года. Мы ни разу не подвели наших покупателей и всегда гарантируем качество товара.</p>
                <p>Мы всегда заботимся о своей репутации и не допускаем никаких чрезвычайных ситуаций, связанных с доставкой или покупкой товара.
                Наши поставщики — надёжно зарекомендовавшие себя компании, с которыми мв работаем уже давно.</p>
                <p>Мы находимся в городе Новосибирске.</p>
{% endblock %}